[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
ipython = "*"
djangorestframework = "==3.14.0"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
python-magic = "*"
pillow = "==9.4.0"

[dev-packages]

[requires]
python_version = "3.11"
